.site-container, .site-inner, .site-main {
  background-color: $md-accent-page;
}

.separator {
  border-right: 1px solid black;
  height: 32px;
  margin: 0 22px;
  opacity: 0.14;
  display: block;
}

.site-container {
  //overflow: hidden;
  .site-inner {
    //overflow: hidden;
    .site-main {
      //overflow-y: scroll;
      //overflow-x: hidden;
      padding-left: 5%;
      padding-right: 5%;
      padding-top; 24px;
     
    }
  }
}

md-sidenav.site-sidenav {
  md-content {
    overflow-x: hidden;
    //overflow-y: scroll;

  }
}