.site-container, .site-inner, .site-main {
  background-color: $md-accent-page;
  //color: $md-accent-font;
}

.separator {
  border-right: 1px solid black;
  height: 32px;
  margin: 0 22px;
  opacity: 0.14;
  display: block;
}