.site-container, .site-inner, .site-main {
  background-color: $md-accent-page;
}

.separator {
  border-right: 1px solid black;
  height: 32px;
  margin: 0 22px;
  opacity: 0.14;
  display: block;
}

.site-container {
  //overflow: hidden;
  .site-inner {
    //overflow: hidden;
    .site-main {
      /*
      @media (min-width: 600px) {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10vh;
      }
      */
     
    }
  }
}

md-sidenav.site-sidenav {
  md-content {
    overflow-x: hidden;
    //overflow-y: scroll;

  }
}