// Base Typography
// ------------------------------
html, body, button, select, textarea, input {
  font-family: $font-family-base;
}

// Toolbar Typography
// ------------------------------

  .md-toolbar-tools,
  .md-toolbar-tools-bottom {
    .md-display-4 {
      font-size: rem(11.20);
      font-weight: 300;
      letter-spacing: -0.010em;
      line-height: rem(11.20);
    }
    .md-display-3 {
      font-size: rem(5.600);
      font-weight: 400;
      letter-spacing: -0.005em;
      line-height: rem(5.600);
    }
    .md-display-2 {
      font-size: rem(4.500);
      font-weight: 400;
      line-height: rem(4.0); // rem(6.4);
    }
    .md-display-1 {
      font-size: rem(3.400);
      font-weight: 400;
      line-height: rem(4.8); // rem(4.0);
    }
    .md-headline {
      font-size: rem(2.400);
      font-weight: 400;
      line-height: rem(3.2);
    }
    .md-title {
      font-size: rem(2.000);
      font-weight: 400;
      letter-spacing: 0.005em;
    }
    .md-subhead {
      font-size: rem(1.600);
      font-weight: 400;
      letter-spacing: 0.010em;
      line-height: rem(2.40);
    }
  }


// Font-Awesome Integration
// ------------------------------
md-icon.fa.material-fa {
  font-weight: normal;
  font-style: normal;
  font-size: 1.33333333em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  vertical-align: -7.5%;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
}