// Relative Typographic Function
// ------------------------------
@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

// Theming
// ------------------------------
$md-accent-page:        rgb(255, 255, 255);
$md-toolbar-page:       rgb(40, 53, 147);

$md-primary-font:       rgba(0, 0, 0, 0.870588);
$md-primary-base:       rgb(63, 81, 181);
$md-primary-hue-1:      rgb(121, 134, 203);
$md-primary-hue-2:      rgb(40, 53, 147);
$md-primary-hue-2-font: rgba(255, 255, 255, 0.870588);
$md-primary-hue-3:      rgb(140, 158, 255);


// Base Typography
// ------------------------------
$font-family-base:    Ubuntu, sans-serif;

// Sidenavs
// ------------------------------
$sidenav-right-width:   272px;
$sidenav-left-width:    256px;