<md-toolbar class="site-toolbar md-whiteframe-z3"
            layout="row">
  <div class="md-toolbar-tools">

    <span flex></span>

    <div class="separator"></div>

    <span>

      <small>Download Résumé:</small>

      <md-button class="md-icon-button"
                 ng-repeat="drive in vm.resumeData.drives"
                 ng-click="vm.navigateTo(drive.link)">
        <md-icon md-svg-icon="{{ drive.icon }}"></md-icon>
        <md-tooltip>{{ drive.label }}</md-tooltip>
      </md-button>

    </span>

  </div>
</md-toolbar>