<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">


  <!-- BEGIN: Header Block -->
  <header class="md-whiteframe-z2"
          hide-sm>
    <img ng-src="{{ vm.resumeData.basics.picture }}">
  </header>
  <!-- ENDOF: Header Block -->
                

  <!-- BEGIN: Sidenav Toolbar -->
  <md-toolbar class="md-medium-tall md-accent md-hue-3">
    <div class="md-toolbar-tools">
      <span flex></span>
      <h1 class="md-display-1">
        {{ vm.resumeData.basics.name }}
      </h1>
      <span flex></span>
    </div>
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
      <span flex></span>
      <span class="md-subhead">
        {{ vm.resumeData.basics.label }}
      </span>
      <span flex></span>
    </div>
  </md-toolbar>
  <!-- ENDOF: Sidenav Toolbar -->


  <!-- BEGIN: Sidenav Content -->
  <md-content md-scroll-y>
    <md-list>
      <md-subheader class="md-no-sticky">Contact</md-subheader>
      <md-list-item class="md-clickable"
                    ng-click="vm.contactWith(email)">
        <md-icon class="material-icons">&#xE0BE;</md-icon>
        <p>{{ vm.resumeData.basics.email }}</p>
      </md-list-item>
      <md-list-item class="md-clickable"
                    ng-click="vm.contactWith(phone)">
        <md-icon class="material-icons">&#xE0CD;</md-icon>
        <p>{{ vm.resumeData.basics.phone }}</p>
      </md-list-item>
      <md-list-item class="md-clickable"
                    ng-click="vm.contactWith(website)">
        <md-icon class="material-icons">&#xE895;</md-icon>
        <p>{{ vm.resumeData.basics.website }}</p>
      </md-list-item>
      <md-list-item class="md-clickable"
                    ng-click="vm.contactWith(city)">
        <md-icon class="material-icons">&#xE55F;</md-icon>
        <p>{{ vm.resumeData.basics.location.city }}, {{ vm.resumeData.basics.location.region }}</p>
      </md-list-item>

      <md-divider></md-divider>

      <md-subheader class="md-no-sticky">Download Résumé</md-subheader>
      <md-list-item class="md-clickable"
                    ng-repeat="drive in vm.resumeData.drives"
                    ng-click="vm.navigateTo(drive.link)">
        <md-icon md-svg-icon="{{ drive.icon }}"></md-icon>
        <p>{{ drive.label }}</p>
      </md-list-item>

      <md-divider></md-divider>

      <md-subheader class="md-no-sticky">View Profiles</md-subheader>
      <md-list-item class="md-clickable"
                    ng-repeat="profile in vm.resumeData.basics.profiles"
                    ng-click="vm.navigateTo(profile.url)">
        <md-icon md-svg-icon="{{ profile.network | lowercase }}"></md-icon>
        <p>{{ profile.network }}</p>
      </md-list-item>
    </md-list>
  </md-content>
  <!-- ENDOF: Sidenav Content -->


</md-sidenav>