<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
  <!-- BEGIN: Header Block -->
  <header class="md-whiteframe-z2"
          hide-sm>
    <img ng-src="{{ vm.resumeData.basics.picture }}">
  </header>
  <!-- ENDOF: Header Block -->
                

  <!-- BEGIN: Sidenav Toolbar -->
  <md-toolbar class="md-medium-tall md-hue-2">
    <div class="md-toolbar-tools">
      <span flex></span>
      <h1 class="md-display-1">
        {{ vm.resumeData.basics.name }}
      </h1>
      <span flex></span>
    </div>
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
      <span flex></span>
      <span class="md-subhead">
        {{ vm.resumeData.basics.label }}
      </span>
      <span flex></span>
    </div>
  </md-toolbar>
  <!-- ENDOF: Sidenav Toolbar -->
  <md-content flex>
    <md-list>
      <md-list-item ng-repeat="navLink in dm.navLinks">
        <p>{{ navLink }}</p>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>