

.mr-jumbotron {
  color: $md-primary-font;
  background-color: $md-primary-base;

  &.md-hue-1 {
    background-color: $md-primary-hue-1;
  }
  &.md-hue-2 {
    color: $md-primary-hue-2-font;
    background-color: $md-primary-hue-2;
  }
  &.md-hue-3 {
    background-color: $md-primary-hue-3;
  }

  &.md-accent {
    color: $md-accent-font;
    background-color: $md-accent-base;
    &.md-hue-1 {
      background-color: $md-accent-hue-1;
    }
    &.md-hue-2 {
      background-color: $md-accent-hue-2;
    }
    &.md-hue-3 {
      background-color: $md-accent-hue-3;
    }
  }

  //font-size: 16px;
  //padding: 12px;
  margin: 16px 0;
  padding: 16 32px;

  &.sm {
    @include element-height(128px);
  }
  &.md {
    @include element-height(192px);
  }
  &.lg {
    @include element-height(256px);
  }

}