<md-sidenav class="site-sidenav md-sidenav-right"
                  md-component-id="right"
                  md-is-locked-open="dm.isLocked">

  <md-toolbar class="md-accent md-hue-3">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button"
                 ng-click="dm.closeRight();">
        <md-icon class="material-icons">&#xE5C8;</md-icon>
      </md-button>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content flex class="md-whiteframe-z4">
    <md-list>
      <md-subheader>Areas of Expertise</md-subheader>
      <md-list-item class="md-2-line" 
                    ng-repeat="area in vm.resumeData.expertise">
        <img ng-src="{{ area.icon }}" 
             class="md-avatar">
        <div class="md-list-item-text">
          <h3>{{ area.name }}</h3>
          <md-progress-linear class="md-accent" 
                              md-mode="determinate" 
                              value="{{ area.level }}">
          </md-progress-linear>
        </div>        
      </md-list-item>
    </md-list>
  </md-content>


</md-sidenav>