<md-sidenav class="site-sidenav md-sidenav-right md-whiteframe-z2"
                  md-component-id="right"
                  md-is-locked-open="$mdMedia('gt-md')">

  <!--
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button"
                 ng-click="dm.closeRight();">
        <md-icon class="material-icons">&#xE5C8;</md-icon>
      </md-button>
      <span flex></span>
    </div>
  -->

  <md-toolbar class="md-accent md-hue-3">
    <md-button class="md-toolbar-tools"
               ng-click="dm.closeRight()">
    </md-button>
  </md-toolbar>
  <md-content flex>
    <md-list>
      <md-list-item ng-repeat="navLink in dm.navLinks">
        <p>{{ navLink }}</p>
      </md-list-item>
    </md-list>
  </md-content>


</md-sidenav>