<div layout="row">
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z4"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

    <header style="background-color:rgb(213, 0, 0); 
                        text-align:center;
                        padding-top: 12px;">
      <img ng-src="{{ vm.resumeData.basics.picture }}"
           style="height: 128px; 
                  width: 128px;
                  margin: 0 auto;
                  border-radius: 64px;">
    </header>
                  
    <md-toolbar class="md-medium-tall md-accent md-hue-3">
      <div class="md-toolbar-tools">
        <span flex></span>
        <h1 class="md-display-1">{{ vm.resumeData.basics.name }}</h1>
        <span flex></span>
      </div>
      <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <span flex></span>
        <small>
          {{ vm.resumeData.basics.label }}
        </small>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-content flex>
      <md-list>
        <md-list-item class="md-clickable"
                      ng-click="vm.contactWith(email)">
          <md-icon class="material-icons">&#xE0BE;</md-icon>
          <p>{{ vm.resumeData.basics.email }}</p>
        </md-list-item>
        <md-list-item class="md-clickable"
                      ng-click="vm.contactWith(phone)">
          <md-icon class="material-icons">&#xE0CD;</md-icon>
          <p>{{ vm.resumeData.basics.phone }}</p>
        </md-list-item>
        <md-list-item class="md-clickable"
                      ng-click="vm.contactWith(website)">
          <md-icon class="material-icons">&#xE895;</md-icon>
          <p>{{ vm.resumeData.basics.website }}</p>
        </md-list-item>
        <md-list-item class="md-clickable"
                      ng-click="vm.contactWith(city)">
          <md-icon class="material-icons">&#xE55F;</md-icon>
          <p>{{ vm.resumeData.basics.location.city }}, {{ vm.resumeData.basics.location.region }}</p>
        </md-list-item>

        <md-divider></md-divider>

        <md-subheader>Download Résumé</md-subheader>
        <md-list-item class="md-clickable"
                      ng-repeat="drive in vm.resumeData.drives"
                      ng-click="vm.navigateTo(drive.link)">
          <md-icon md-svg-icon="{{ drive.icon }}"></md-icon>
          <!--<img ng-src"{{ drive.icon }}" class="md-avatar">-->
          <p>{{ drive.label }}</p>
          <md-tooltip>via {{ drive.label }}</md
        </md-list-item>
      </md-list>
    </md-content>

    <md-toolbar class="md-accent md-hue-3">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button ng-repeat-start="profile in vm.resumeData.basics.profiles"
                   class="md-icon-button"
                   ng-href="{{ profile.url }}">
          <md-icon md-svg-icon="{{ profile.network | lowercase }}"
                   style="color: #fff;">
          </md-icon>
          <md-tooltip>View {{ profile.network }} Profile</md-tooltip>
        </md-button>
        <span flex ng-if="!$last" ng-repeat-end></span>
        <span flex></span>
      </div>
    </md-toolbar>

  </md-sidenav>

  <div class="site-content" layout="column" role="main" flex>
    <md-toolbar class="site-toolbar md-whiteframe-z4">
    </md-toolbar>
  </div>
</md-tooltip>